.mobile-navbar {
    display: none;
}

.navbar {
    padding: 0 var(--size-medium);
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: var(--color-background);
    z-index: 200;
    border-bottom: 1px solid var(--color-white-dimmed-2);

    .logo {
        display: flex;
        align-items: center;
        gap: var(--size-very-small);

        .icon {
            font-size: 4rem;
        }

        h2 {
            font-size: var(--font-size-medium);
            font-family: var(--font-titles);

            span {
                font-weight: 100;
                font-family: var(--font-secondary);
                font-size: var(--size-small);
                align-self: flex-end;
            }
        }
    }

    .links {
        display: flex;
        align-items: center;
        gap: var(--size-very-small);
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);

        .link {
            text-decoration: none;
            color: var(--color-font);
            display: flex;
            align-items: center;
            justify-content: center;
            padding: var(--size-very-small);
            font-weight: 600;
            transition: var(--transition-linear);
            position: relative;
            border-radius: var(--rounding-small);

            .icon {
                font-size: 2rem;
            }

            .text {
                font-weight: 600;
                opacity: 0;
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%) scale(.25);
                background-color: var(--color-main);
                padding: var(--size-very-small);
                border-radius: var(--rounding-small);
                transition: var(--transition-fast);
            }
        }

        .link.active {
            background-color: var(--color-main);
        }

        .link:hover,
        /* .link:focus, */
        .link:focus-visible {
            background-color: var(--color-main-dimmed);

            .text {
                background-color: var(--color-main-dimmed);
                transform: translate(-50%, 100%) scale(1);
                opacity: 1;
            }
        }
    }

    .logged-options {
        background-color: transparent;
        padding: var(--size-small);
        position: relative;
        display: flex;
        flex-direction: column;
        border: none;
        cursor: pointer;

        .ppf-username {
            display: flex;
            gap: var(--size-small);
            align-items: center;

            .ppf-wrapper {
                display: flex;
                align-items: center;
                justify-content: center;
                border-radius: var(--rounding-total);
                overflow: hidden;

                .profile-picture {
                    width: 40px;
                    height: 40px;
                    object-fit: cover;
                    object-position: center;
                }
            }

            .username {
                font-weight: var(--font-thick);
                color: var(--color-font);
                text-transform: capitalize;
                font-size: var(--font-size-small);
            }
        }

        .options {
            display: flex;
            flex-direction: column;
            background-color: var(--color-background);
            position: absolute;
            left: 50%;
            transform: translate(-50%, 125%);
            width: 100%;
            overflow: hidden;
            gap: 0;

            .option {
                width: 100%;
                display: flex;
                align-items: center;
                justify-content: center;
                padding: var(--size-small);
                font-weight: var(--font-thick);
                color: var(--color-font);
                text-decoration: none;
                border: 1px solid var(--color-white-dimmed-2);
                border-radius: var(--rounding-medium);
                transition: var(--transition-fast);
            }

            .option:hover,
            .option:focus,
            .option:focus-visible {
                background-color: var(--color-main-dimmed);
                border: 1px solid var(--color-main);
            }
        }
    }

    .logged-options:hover,
    .logged-options:focus,
    .logged-options:focus-visible {
        .ppf-username {
            .username {
                text-decoration: underline;
            }
        }
    }

    .sign-links {
        display: flex;
        gap: var(--size-very-small);

        .link {
            background-color: transparent;
            padding: var(--size-very-small) calc(var(--size-very-small) * 2);
            border-radius: var(--rounding-small);
            color: var(--color-font);
            text-decoration: none;
            font-weight: 500;
            transition: var(--transition-fast);
        }

        .link.sign-up {
            background-color: var(--color-font);
            color: var(--color-font-black);
        }

        .link:hover,
        .link:focus,
        .link:focus-visible {
            background-color: var(--color-white-dimmed);
            color: var(--color-font);
        }

        .link.sign-up:hover,
        .link.sign-up:focus,
        .link.sign-up:focus-visible {
            background-color: var(--color-main);
        }
    }
}

/* Tablet */
@media screen and (max-width:1024px) {
    .navbar {
        display: none;
    }

    .mobile-navbar {
        display: flex;
        padding: var(--size-small);
        justify-content: space-between;

        .mobile-menu {
            background-color: var(--color-background);
            position: fixed;
            inset: 0;
            z-index: 100;
            display: flex;
            flex-direction: column;
            gap: var(--size-big);
            padding: var(--size-medium);

            >* {
                padding: var(--size-small);
                display: flex;
                align-items: center;
                text-decoration: none;
                color: var(--color-font);
                gap: var(--size-small);
                border: 3px solid var(--color-white-dimmed-2);
                border-radius: var(--rounding-medium);
                background-color: var(--color-main-dimmed-2);

                .icon {
                    font-size: 4rem;
                }

                .vertical-separator {
                    height: 100%;
                    width: 3px;
                    background-color: var(--color-white-dimmed-2);
                    border-radius: var(--rounding-medium);
                }

                .text {
                    font-size: 2rem;
                }
            }
        }

        .sign-links {
            display: flex;
            gap: var(--size-small);

            .link {
                display: flex;
                align-items: center;
                justify-content: center;
                padding: var(--size-very-small) var(--size-small);
                border-radius: var(--rounding-medium);
                text-decoration: none;
                font-weight: var(--font-thick);
                color: var(--color-font);
            }

            .link.sign-up {
                background-color: var(--color-main-dimmed);
            }
        }

        .show-menu-button {
            background-color: var(--color-main-dimmed);
            padding: var(--size-very-small) calc(var(--size-very-small) * 2);
            border: none;
            border-radius: var(--rounding-medium);

            .icon {
                color: var(--color-font);
                font-size: 2.5rem;
            }
        }

        .logged-options {
            background-color: transparent;
            padding: var(--size-small);
            position: relative;
            display: flex;
            flex-direction: column;
            border: none;
            cursor: pointer;

            .ppf-username {
                display: flex;
                gap: var(--size-small);
                flex-direction: row-reverse;
                align-items: center;

                .ppf-wrapper {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    border-radius: var(--rounding-total);
                    overflow: hidden;

                    .profile-picture {
                        width: 40px;
                        height: 40px;
                        object-fit: cover;
                        object-position: center;
                    }
                }

                .username {
                    font-weight: var(--font-thick);
                    color: var(--color-font);
                    text-transform: capitalize;
                    font-size: var(--font-size-small);
                }
            }

            .options {
                display: flex;
                flex-direction: column;
                background-color: var(--color-background);
                position: absolute;
                left: 50%;
                transform: translate(-50%, 125%);
                width: 100%;
                overflow: hidden;
                gap: 0;

                .option {
                    width: 100%;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    padding: var(--size-small);
                    font-weight: var(--font-thick);
                    color: var(--color-font);
                    text-decoration: none;
                    border: 1px solid var(--color-white-dimmed-2);
                    border-radius: var(--rounding-medium);
                    transition: var(--transition-fast);
                }

                .option:hover,
                .option:focus,
                .option:focus-visible {
                    background-color: var(--color-main-dimmed);
                    border: 1px solid var(--color-main);
                }
            }
        }

        .logged-options:hover,
        .logged-options:focus,
        .logged-options:focus-visible {
            .ppf-username {
                .username {
                    text-decoration: underline;
                }
            }
        }
    }
}

/* Phone */
@media screen and (max-width:640px) {}
