.unauthorized-post-edition {
    height: 100vh;
    display: flex;
    flex-direction: column;
    gap: var(--size-big);
    justify-content: center;
    align-items: center;

    .title {
        font-size: var(--font-size-very-big);
    }

    .sub-title {
        font-size: var(--font-size-medium);
    }

    .image {
        width: 17%;
    }

    .empty {
        display: none;
    }
}
