.app-loader {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: var(--size-small);
  flex-direction: column;

  .message {
    font-weight: var(--font-thick);
    font-family: var(--font-titles);
    font-size: var(--font-size-medium);
  }
}
